# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
storage/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# SQLite database
*.db
*.sqlite3

# Logs
*.log

# VSCode
.vscode/
.history/

# MacOS
.DS_Store

# Images / media you don’t want in repo
*.jpeg
*.jpg
*.png
*.gif
*.ico

# Secrets / config files
*.env
config.py
